#tag{
    background-color: black;
    color:aqua
}

.tag{
    background-color: aqua ;    
    color:white;
}

.round{
    border-radius: 10px;
    padding: 5px;
}

span{
    background-color:blueviolet;
    color: black;
}
